@use '../../../globalStyles/mixins'
@use '../../../globalStyles/variables'
.header
    @include mixins.flex-center
    background-color: variables.$primary-color
    padding: 5px
    &-logo
        color: variables.$secondary-color
        text-shadow: 2px 2px 2px black
    
    