@use '../../../../globalStyles/mixins'
@use '../../../../globalStyles/variables'

.details
    @include mixins.flex-center
    min-height: 880px
    align-items: flex-start
    flex-flow: row wrap
    padding: 100px 10px
    &-card
        background-color: variables.$neutro-color-light
        padding: 40px
        border-radius: 8px
        text-align: center
        box-shadow: 2px 2px 3px black
        margin: 10px 20px
        width: 200px
        position: relative
        height: 500px
        &-span
            position: absolute
            right: 0
            top: 0
            background-color: variables.$secondary-color
            color: variables.$neutro-color-light
            box-shadow: 2px 2px 3px black
            border-end-start-radius: 8px
            padding: 10px
        &-img
            width: 200px
        &-name
            font-size: 35px
            font-weight: bold
            padding: 20px 0
            border-top: .5px solid black
    &-abilities
        background-color: variables.$neutro-color-light
        padding: 20px
        border-radius: 8px
        width: 240px
        height: 214px
        text-align: center
        box-shadow: 2px 2px 3px black
        margin: 10px 20px
        &-box
            &-item
                padding: 10px
                background-color: variables.$primary-color
                color: variables.$neutro-color-light
                margin: 30px
                position: relative
                transition: .7s
                &:hover
                    background-color: variables.$secondary-color

    &-types
        background-color: variables.$neutro-color-light
        padding: 20px
        border-radius: 8px
        width: 240px
        text-align: center
        height: 214px
        box-shadow: 2px 2px 3px black
        margin: 10px 20px
        &-box
            &-item
                padding: 10px
                color: variables.$neutro-color-light
                margin: 30px
                position: relative
                transition: .7s
    &-move
        background-color: variables.$neutro-color-light
        border-radius: 8px
        text-align: center
        box-shadow: 2px 2px 3px black
        margin: 10px 20px
        width: 320px
        position: relative
        height: 600px
        &-box
            height: 95%
            width: 100%
            overflow-y: scroll
